#submit_button
{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: red;
}

input
{
    margin: 10px;
}

#sort_button
{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: red;
}